#cityName{
    text-transform: capitalize;
}
.low{
    background-color: greenyellow;    
}
.medium{
    background-color:rgb(250, 250, 128);
}
.high{
    background-color: red;
}
.very-high{
    background-color: rgb(201, 97, 201);
}
.extreme{
    background-color: rgb(61, 1, 172);
}